# Gradle
.gradle
build/

# Gradle Wrapper - conserva solo el .jar
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.classpath
.project
.settings

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/

### VS Code ###
.vscode/

# Archivos temporales
*.log
*.tmp

### Mac OS ###
.DS_Store